@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: url(i15.png) rgba(0, 0, 0, 0.829) no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 13px 60px;
    background: #111418b6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.664);
    height: 80px;
}
.logo {
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
    background: none;
}
nav a i{
    margin-right: 5px;
    font-size: 15px;
}
nav a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    background: none;
    transition: .3s;
    padding: 3px 16px;
    border-radius: 5px;
    border: rgb(0, 106, 114) solid 2px;
    letter-spacing: .5px;
}
.logo:hover{
    color: rgb(62, 242, 255);
}
nav a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(110, 238, 255, 0.342);
    border: #0ef solid 2px;
}
.main{
    padding: 100px;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 350px;
    height: 350px;
    padding: 2rem 1rem;
    background: none;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    margin: 10px 0 10px 10px;
    border-radius: 10px;
    border: 3px solid #ffffff33;
}
.card:hover{
    transform: translateY(-10px);
}
.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(20, 20, 20), rgba(0, 0, 0, 0));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 10px;
}
.card:hover::before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card .info h1{
    margin-bottom: 10px;
    font-size: 18px;
    text-shadow: 0px 7px 10px rgba(0,0,0,0.4);
}
.card .info a i{
    margin-left: 3px;
}
.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}
.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.2);
}
.card .info .btn:hover{
        background: rgb(121, 246, 255);
        transition: .5s ease-in-out;
}

@media (max-width: 428px){
    .card{
        width: 400px;
        height: 400px;
    }
}